body {
  line-height: 1;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

#header{
	height:100%;
	width:800px;
	padding:5px;
	border-radius: 10px;
	background-color: red;
	font-family: Calligraffitti , cursive;
}

#footer{
	background-color: #786CDE;
	border-radius: 10px;
	padding:10px;
	height:50%;
	width:800px;

}

ul {
	list-style: none;
	padding: 0;
}

#aside{
	height:100%;
	width:200%;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: silver;
	border-radius: 10px;


}

#article_group{
	width: 70%;
}

.article{
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	height:120%;
	background-color:silver;
	border-radius: 10px;
}
.article_paragraph{
font-family: Calligraffitti , cursive;
}
.article_header {
	font-family: sans-serif;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: Calligraffitti , cursive;
}

.article_image{
	width: 60px;
	height: 100px;
	float:left;
	border:1px solid black;
	margin:0px 25px 0px 0px;
}

.section{
	height:100%;
	width:50%;
	text-align: center;
	background-color:green;
	border-radius: 10px;	
}

#content{
	height:200px;
	width:800px;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.clear_both{
	clear:both;
}
html{
	display: table;
	margin:auto;
}